.average-grade-box {
  margin: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 16px
}

img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  vertical-align: middle;
}

.container{
  max-width: 80%;
}


.review-form {
  padding: 20px;
  background: rgba(211, 211, 211, 0.5);
  border-radius: 10px;
}

.average-grade-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust margin as needed */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #082c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #082c3c;
}

#rating {
  width: 80px;
}
