

<div class="bar">

  <form #fg [formGroup]="reservationForm" style="display:inherit;gap:inherit;">

    <mat-form-field class="custom-form-field" hideRequiredMarker [subscriptSizing]="'dynamic'" >
      <mat-label>Arrival</mat-label>
      <input (dateChange)="updatePrice(arrivalVal,departureVal,noGuests)" formControlName="dateFrom" matInput [matDatepicker]="pickerArrival" #arrivalVal>
      <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
      <mat-datepicker  #pickerArrival></mat-datepicker>
    </mat-form-field>

    <mat-form-field  hideRequiredMarker  [subscriptSizing]="'dynamic'" >
      <mat-label>Departure</mat-label>
      <input (dateChange)="updatePrice(arrivalVal,departureVal,noGuests)" formControlName="dateTo" matInput [matDatepicker]="pickerDeparture" #departureVal>
      <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
      <mat-datepicker #pickerDeparture></mat-datepicker>
    </mat-form-field>


    <mat-form-field hideRequiredMarker  [subscriptSizing]="'dynamic'" >
      <mat-label>Guests</mat-label>
      <input (change)="updatePrice(arrivalVal,departureVal,noGuests)" #noGuests matInput type="number" formControlName="noGuests" >
    </mat-form-field>

  </form>

    <mat-form-field  hideRequiredMarker [subscriptSizing]="'dynamic'" >
      <mat-label>Price</mat-label>
      <input [(ngModel)]="price" matInput type="number"  readonly>
    </mat-form-field>

    <button color="primary" mat-button class="lightBlue" (click)="submitRequest()" [disabled]="!reservationForm.valid">
    Reserve
    </button>
</div>
