<div class="buttonDiv">
  <button (click)="logOut()" mat-raised-button>Log out</button>
  <img
    class="profileImg"
    src="../../assets/images/profileImage.png"
    mat-button
    [matMenuTriggerFor]="menu"
  />
  <mat-menu #menu="matMenu" [xPosition]="'before'">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button
      mat-menu-item
      routerLink="/ownersAccommodations"
      *ngIf="role == 'OWNER'"
    >
      Your Accommodations
    </button>
    <button
      *ngIf="role == 'OWNER'"
      mat-menu-item
      routerLink="/accommodation_create"
    >
      Create Appartment
    </button>
    <button
      *ngIf="role == 'ADMIN'"
      mat-menu-item
      routerLink="/accommodationCreationRequests"
    >
      Accommodation Creation Requests
    </button>
    <button
      *ngIf="role == 'ADMIN'"
      mat-menu-item
      routerLink="/accommodationUpdatingRequests"
    >
      Accommodation Updating Requests
    </button>
    <button *ngIf="role == 'ADMIN'" mat-menu-item routerLink="/reviewReports">
      Review Reports
    </button>
    <button
      *ngIf="role == 'ADMIN'"
      mat-menu-item
      routerLink="/adminUserReports"
    >
      User Reports
    </button>

    <button
      *ngIf="role == 'GUEST' || role == 'OWNER'"
      mat-menu-item
      routerLink="/reservationRequests"
    >
      View Reservation Requests
    </button>
    <button
      *ngIf="role == 'GUEST'"
      mat-menu-item
      routerLink="/reservationsGuest"
    >
      View Reservations
    </button>
    <button
      *ngIf="role == 'OWNER'"
      mat-menu-item
      routerLink="/reservationsOwner"
    >
      View Reservations
    </button>
    <button
      *ngIf="role == 'GUEST'"
      mat-menu-item
      routerLink="/favoriteAccommodations"
    >
      Favorite Accommodations
    </button>
    <button
      *ngIf="role == 'OWNER'"
      mat-menu-item
      routerLink="/ownerOwnerReview"
    >
      Owner Reviews
    </button>

    <button
      *ngIf="role == 'OWNER'"
      mat-menu-item
      routerLink="/userReport"
    >
      Guest Report
    </button>

    <button
      *ngIf="role == 'GUEST'"
      mat-menu-item
      routerLink="/userReport"
    >
      Owner Report
    </button>

    <button
      *ngIf="role == 'OWNER'"
      mat-menu-item
      routerLink="/analytics"
    >
      Analytics
    </button>

    <button
      mat-menu-item
      routerLink="/notifications"
    >
      Notifications
    </button>
  </mat-menu>
</div>
