

<div class="bar">

  <form [formGroup]="searchForm" style="display: inherit;gap: inherit">

    <mat-form-field hideRequiredMarker [subscriptSizing]="'dynamic'" >
      <mat-label>Location</mat-label>
      <input id="location-input" [(ngModel)]="location" matInput formControlName="location" >
    </mat-form-field>

      <mat-form-field hideRequiredMarker [subscriptSizing]="'dynamic'" >
        <mat-label>Arrival</mat-label>
        <input id="start-date-input" (dateChange)="arrivalChanged(arrivalVal)"  [formControl]="date" matInput [matDatepicker]="pickerArrival" #arrivalVal>
        <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
        <mat-datepicker  #pickerArrival></mat-datepicker>
      </mat-form-field>

      <mat-form-field hideRequiredMarker  [subscriptSizing]="'dynamic'" >
        <mat-label>Departure</mat-label>
        <input id="end-date-input" (dateChange)="departureChanged(departureVal)"  [formControl]="date2" matInput [matDatepicker]="pickerDeparture" #departureVal>
        <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
        <mat-datepicker #pickerDeparture></mat-datepicker>
      </mat-form-field>


    <mat-form-field hideRequiredMarker [subscriptSizing]="'dynamic'" >
      <mat-label>Guests</mat-label>
      <input id="guests-number-input" [(ngModel)]="noGuests" matInput type="number" formControlName="noGuests" >
    </mat-form-field>

  </form>

  <div >
    <button id="search-btn" mat-mini-fab color="primary" class="lightBlue" (click)="validateForm() ">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
