<head>
  <link href="./search-bar.component.css" rel="stylesheet" />
</head>
<body>
<div class="bar">
  <div class="location">
    <p >Location</p>
    <input  type="text" placeholder="Where are you going?">
  </div>
  <div class="check-in">
    <p >Check in</p>
    <input type="text" placeholder="Add dates">
  </div>
  <div class="check-out">
    <p >Check out</p>
    <input type="text" placeholder="Add dates">
  </div>
  <div class="guests">
    <p >Guests</p>
    <input type="text" placeholder="Add guests">
  </div>
  <div class="search">
    <button mat-mini-fab color="primary" class="lightBlue" routerLink="/search">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
</body>
