input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.bar{

  margin: 50px auto 50px auto;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  padding: 5px;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
  align-self: center;
  background-color: #092D3C;
}

mat-form-field{

  font-size: 15px;
  width: 200px;
  border-radius: 8px;

}


.input-section{
  width: 25%;
}

.lightBlue {
  background-color: #1d74ab;
  margin-left: 10px;
  margin-right: 10px;

}
