.bar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width:880px;
    gap: 19px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
    border-radius: 15px;
  
  }
  
  .tr{
    width: auto;
    display: flex;
    flex-direction: column;
  }
  
  .column-name {
    font-weight: 500;
    margin-bottom: 7px;
  }

  button {
    margin-top: 10px;
    background-color: #1d74ab;
    color: white;
    font-size: 15px;
    border-radius: 7px;
  }

  a {
    text-decoration: none;
  }

 