@import '../../../assets/bootstrap-5.3.2-dist/css/bootstrap.min.css';

.socialIcons{
    display: flex;
    justify-content: right;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: #082c3c;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #082c3c;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

body {
    padding-bottom: 100px;
}