<div class="container joe">
    <p>Dear ,{{email}}<br>
      <br>
      Congratulations on taking the first step to unlock a world of opportunities with Booʞing! We're thrilled to have you on board.<br>
      <br>
      To activate your account, simply click on the following button:<br>
      <br>
    </p>
  
    <div class="center-button">
      <button
        (click)="activate()"
        type="button"
        class="btn btn-block btn-floating mx-1"
      >
        Sign up
      </button>
    </div>
  
    <p>
      <br>
      If you have any trouble activating your account or have questions, feel free to reach out to our support team at serverbookingisstim21@gmail.com.<br>
      <br>
      We look forward to serving you on Booʞing and providing you with an exceptional experience.<br>
      <br>
      Best regards,<br>
      The Booʞing Team<br></p>
  </div>