<div class="coordinatingDiv">
  <div class="profileInfoFrame">
    <div class="nameFrame">
      <p class="name">John Doe</p>
      <div></div>
    </div>
    <div class="profileInfo">
      <p class="title">Adress</p>
      <p class="info">21st street no. 225</p>
      <p class="info">New York, USA</p>
    </div>
    <div class="profileInfo">
      <p class="title">Contact Info</p>
      <p class="info">+38106123456</p>
    </div>
    <div class="profileInfo">
      <p class="title">Login Credentials</p>
      <p class="info">example&commat;gmail.com</p>
    </div>
    <div class="profileInfo">
      <p class="title">Role</p>
      <p class="info">User</p>
    </div>
    <div class="buttonFrame">
      <a mat-raised-button class="changeButton">Change Profile</a>
    </div>
  </div>
</div>
