
<div class="filter-bar">
  <span style="padding: 5px">Filter by:</span>

  <div class="filter-section">
    <span>Price range</span>
  </div>

  <mat-selection-list class="filter-section"  >
    <span>Amenities</span>
    <mat-checkbox style="height: 30px"
                  [checked]="amenitiesSelected.get(amenity)!"
                  *ngFor="let amenity of amenities "
                  (click)="amenityOptionSelect(amenity)">
      {{amenity}}
    </mat-checkbox>
  </mat-selection-list>

  <mat-selection-list class="filter-section"  >
    <span>Property type</span>
    <mat-checkbox style="height: 30px"
                [checked]="propertySelected.get(propertyType)!"
                (click)="propertyTypeOptionSelect(propertyType)"
                *ngFor="let propertyType of propertyTypes">
      {{propertyType}}
    </mat-checkbox>
  </mat-selection-list>

</div>
