
<div class="accommodation-list">
<mat-card style="margin: 20px" class="example-card" *ngFor="let accommodation of acc">

  <img  mat-card-image src="../../assets/images/aptimage.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Name: {{accommodation.name}}
    </p>
    <p>
      Location: {{accommodation.location}}
    </p>
    <p>
      Price: {{accommodation.price}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/accommodation">See details</button>
  </mat-card-actions>
</mat-card>
</div>
