<div class="coordinatingDiv">
  <div class="profileInfoFrame">
    <div class="profileInfo">
      <p class="title">Personal Information</p>
      <label class="inputLabel">Name</label>
      <input type="text" placeholder="{{ user.name }}" class="inputField" />
      <label class="inputLabel">Surname</label>
      <input type="text" placeholder="{{ user.surname }}" class="inputField" />
    </div>
    <div class="profileInfo">
      <p class="title">Adress</p>
      <label class="inputLabel">Street</label>
      <input type="text" placeholder="{{ user.street }}" class="inputField" />
      <label class="inputLabel">City</label>
      <input type="text" placeholder="{{ user.city }}" class="inputField" />
      <label class="inputLabel">Country</label>
      <input type="text" placeholder="{{ user.country }}" class="inputField" />
    </div>
    <div class="profileInfo">
      <p class="title">Contact Info</p>
      <label class="inputLabel">Phone</label>
      <input type="tel" placeholder="{{ user.phone }}" class="inputField" />
    </div>
    <div class="profileInfo">
      <p class="title">Login Credentials</p>
      <label class="inputLabel">Email</label>
      <input type="email" placeholder="{{ user.email }}" class="inputField" />
      <label class="inputLabel">Password</label>
      <input type="password" [value]="getPasswordStars()" class="inputField" />
      <label class="inputLabel">Repeat Password</label>
      <input type="password" [value]="getPasswordStars()" class="inputField" />
    </div>
    <div class="buttonFrame">
      <a mat-raised-button routerLink="/profile">Save Changes</a>
    </div>
    <div class="buttonFrame">
      <a mat-raised-button color="warn">Delete Profile</a>
    </div>
  </div>
</div>
