<div class="coordinatingDiv">
  <div class="profileInfoFrame">
    <div class="profileInfo">
      <p class="title">Personal Information</p>
      <label class="inputLabel">Name</label>
      <input type="text" placeholder="John" class="inputField" />
      <label class="inputLabel">Surname</label>
      <input type="text" placeholder="Doe" class="inputField" />
    </div>
    <div class="profileInfo">
      <p class="title">Adress</p>
      <label class="inputLabel">Street</label>
      <input type="text" placeholder="21st street no. 225" class="inputField" />
      <label class="inputLabel">City</label>
      <input type="text" placeholder="New York" class="inputField" />
      <label class="inputLabel">Country</label>
      <input type="text" placeholder="USA" class="inputField" />
    </div>
    <div class="profileInfo">
      <p class="title">Contact Info</p>
      <label class="inputLabel">Phone</label>
      <input type="tel" placeholder="+38106123456" class="inputField" />
    </div>
    <div class="profileInfo">
      <p class="title">Login Credentials</p>
      <label class="inputLabel">Email</label>
      <input
        type="email"
        placeholder="example&commat;gmail.com"
        class="inputField"
      />
      <label class="inputLabel">Password</label>
      <input type="password" placeholder="************" class="inputField" />
      <label class="inputLabel">Repeat Password</label>
      <input type="password" placeholder="************" class="inputField" />
    </div>
    <div class="buttonFrame">
      <a mat-raised-button routerLink="/profile">Save Changes</a>
    </div>
    <div class="buttonFrame">
      <a mat-raised-button color="warn">Delete Profile</a>
    </div>
  </div>
</div>
