<div class="bar">
  <div class="tr">
    <span>Accommodation Name</span>
    <span>{{ accName }}</span>
  </div>
  <div class="tr">
    <span>User</span>
    <span>{{ userName }}</span>
  </div>
  <div class="tr"
       *ngIf="
        this.role == 'OWNER'"
  >
    <span>Cancels</span>
    <span>{{ cancels }}</span>
  </div>
  <div class="tr">
    <span>Date From</span>
    <span>{{ dateFrom }}</span>
  </div>
  <div class="tr">
    <span>Date To</span>
    <span>{{ dateTo }}</span>
  </div>
  <div class="tr">
    <span>Number of guests</span>
    <span>{{ res.guestsNumber }}</span>
  </div>
  <div class="tr">
    <span>Price</span>
    <span>{{ res.price }}</span>
  </div>
  <div class="tr">
    <span>Status</span>
    <span [textContent]="this.status" id="status"></span>
  </div>
  <div
    class="tr"
    *ngIf="
      ReservationRequestStatus[ReservationRequestStatus[this.res.status]] ==
        'Waiting' && this.role == 'OWNER'
    "
  >
    <button (click)="accept()" id="acceptButton">Accept</button>
    <button (click)="decline()">Decline</button>
  </div>
  <div
    class="tr"
    *ngIf="
      ReservationRequestStatus[ReservationRequestStatus[this.res.status]] ==
        'Waiting' && this.role == 'GUEST'"
  >
    <button (click)="cancel()">Cancel</button>
  </div>
</div>
