

mat-toolbar {
    height: 70px;
}

.logo-container {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 50px;
    height: 50px;
    fill: none;
}

rect {
    width: 75px;
    height: 75px;
    fill: white;
}

.booking {
    margin-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}

.navButtons {
    width: 300px;
    display: flex;
    justify-content:space-between;

}

a {
    font-size: 17px;
    font-weight: bold;
}