.example-card {
    max-width: 200px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .accommodation-list{
    width: 60%;
    border-width: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    justify-content: center; /* Center the grid horizontally */
    align-items: center;
  
  }
  
  .pageContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
  font-size: 32px;
  font-weight: 500;
  margin-top: 30px;
  }