<div class="accommodation-list">
  <mat-card style="margin: 20px" class="example-card">

    <img  mat-card-image src="../../assets/images/aptimage.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Name: {{accommodationPreview.name}}
      </p>
      <p>
        Location: {{accommodationPreview.location}}
      </p>
      <p>
        Price: 0
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/accommodation">See details</button>
    </mat-card-actions>
  </mat-card>
</div>
