.filter-section{
  padding: 5px 5px 15px 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
