
<div class="filter-section">

    <span>Price range</span>
    <mat-form-field  [subscriptSizing]="'dynamic'" >
      <mat-label>Min value</mat-label>
      <input id="start-price" #min matInput [ngModel]="minVal" (change)="minChange(min.value)"  type="number">
    </mat-form-field>

    <mat-form-field  [subscriptSizing]="'dynamic'" >
      <mat-label>Max value</mat-label>
      <input id="end-price" #max matInput [ngModel]="maxVal" (change)="maxChange(max.value)" type="number">
    </mat-form-field>
</div>
